<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Informações do sistema</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image HOME Help Desk">
    <mat-card-content>
      <p>
        Olá, seja Bem-Vindo(a) ao sistema Helpdesk da Carvalho Enterprise. Este é um sistema
        de demosntração feito em Java Spring Boot e Angular, com deploy no Heroku.
        Para mais informações, entre em contato pelo nosso email :
        <em>carvalhosenterprise@gmail.com</em>

        <br> <br>
       <strong>Matheus Carvalho</strong>

        <br>
        <em><strong>--Carvalho Enterprise--</strong></em>
      </p>
    </mat-card-content>
  </mat-card>
  